---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>
I am a graduate student instructor (GSI) at the University of Michigan. As such, I have taught or been a TA for various undergraduate mathematics courses, from introductory calculus to differential equations. Please see below for a summary of my past teaching experiences.
</p>

{% include base_path %}
<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} 
-->

<h1>Past teaching experience</h1>

<h3>Math 216 (Differential Equations)</h3>

<p>Semesters taught: Winter 2021</p>

<p>In Winter 2021, I was a lab instructor for a course in applied differential equations. The lab component of this course featured weekly lab meetings where students worked on applied projects coded in MATLAB.
</p>

<h3>Math 116 (Calculus II)</h3>

<p>Semesters taught: Winter 2020, Fall 2020</p>

<p>Math 116 is the second course in U of M's standard introductory calculus sequence. Classes are typically 15-20 students and involve a mix of lecturing and groupwork. 
</p>


<h3>Math 115 (Calculus I)</h3>

<p>Semesters taught: Fall 2019</p>

<p>Math 115 is the first course in U of M's standard introductory calculus sequence. Classes are typically 15-20 students and involve a mix of lecturing and groupwork. 
</p>